html {
  box-sizing: border-box;
  background-color: #f0eee8;
  line-height: 1.5;
  margin: 0 0 1rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

dt {
  display: inline-block;
  margin: 0;
  font-size: .9rem;
}

dd {
  margin: 0;
  display: inline-block;
  font-style: italic;
  font-size: .9rem;
}

.list {
  border-top: 1px solid #9a816d;
  border-bottom: 1px solid #9a816d;
  margin: 0 0 1rem;
}

.listwo {
  border-top: 1px solid #9a816d;
  border-bottom: 1px solid #9a816d;
  margin: 0 0 1rem;
}

dl dd {
  padding: 0 40%;
  float: left;
  width: 88%;
}

dl dt {
  float: left;
  padding: 0 1%;
  width: 8%;
}

div {
  text-align: center;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #512200;
  margin: 0 0 1rem;
}

.link-card p {
  font-size: 1rem;
  font-family: Georgia, sans-serif;
  color: #512200;
  text-align: left;
}

.link-card dl {
  color: #512200;
  display: inline;
}

.link-card {
  display: block;
  padding: 1em;
  border: 3px solid #9a816d;
  border-radius: 3px;
  background: #dcd4cd;
  text-decoration: none;
  font-size: .875rem;
}

.link-card:hover {
  background-color: #cabdb2;
}

span {
  font-size: 1rem;
  text-align: center;
  margin-top: 2rem;
  padding: .4em .75em .5em;
  color: #dcd4cd;
  display: inline-block;
  border-radius: 3px;
  background-color: #785439;
  font-weight: bold;
  font-family: Dosis, sans-serif;
}

.link-card:hover .btn {
  background-color: #785439;
}
